@model BW_VI___Team_1.Models.DTO.VisitDTO

@{
    ViewData["Title"] = "UpdateVisit";
}
<div class="addPage">
    <h1>Modifica Visita</h1>

    <hr />
    <div class="row">
        <div class="col-12">
            <form asp-action="UpdateVisit">
                @Html.AntiForgeryToken()
                <input type="hidden" name="Id" value="@ViewBag.VisitId" />

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group">
                    <label asp-for="Date" class="control-label">Data</label>
                    <input asp-for="Date" class="form-control" type="date" value="@Model.Date.ToString("yyyy-MM-dd")" />
                    <span asp-validation-for="Date" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Exam" class="control-label">Esame</label>
                    <input asp-for="Exam" class="form-control" />
                    <span asp-validation-for="Exam" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Diagnosis" class="control-label">Diagnosi</label>
                    <input asp-for="Diagnosis" class="form-control" />
                    <span asp-validation-for="Diagnosis" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="AnimalId" class="control-label">Animale</label>
                    <select asp-for="AnimalId" class="form-control">
                        @foreach (var animal in ViewBag.Animals)
                        {
                            <option value="@animal.Id">@animal.Name</option>
                        }
                    </select>
                    <span asp-validation-for="AnimalId" class="text-danger"></span>
                </div>

                <div class="d-flex justify-content-around mt-3">
                    <div class="form-group">
                        <input type="submit" value="Salva" class="btn addButtonCreate" />
                    </div>
                    <div>
                        <a asp-action="Index" class="btn addButtonBack">Torna Indietro</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
