@model BW_VI___Team_1.Models.DTO.VisitHistoryDTO

@{
    ViewData["Title"] = "Animal Details";
}

<h1>Animal Details</h1>

<div>
    <h4>Animal</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Nome
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Animal.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Animal.Species)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Animal.Species)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Animal.Breed)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Animal.Breed)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Animal.Color)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Animal.Color)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Animal.BirthDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Animal.BirthDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Animal.RegisterDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Animal.RegisterDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Animal.Microchip)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Animal.Microchip)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Animal.MicrochipNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Animal.MicrochipNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Animal.ImageUrl)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Animal.ImageUrl)
        </dd>
    </dl>
</div>

<div>
    <h4>Visit History</h4>
    <hr />
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Visits.First().Date)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Visits.First().Exam)
                </th>
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Visits.First().Diagnosis)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Visits)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Exam)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Diagnosis)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
